@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

:root {
    --primary-color: #007BA7;
    --secondary-color: #40826D;
    --tertiary-color: mediumseagreen;
    --fourth-color: mediumaquamarine;
    --primary-font: 'quicksand';
    --secondary-font: 'Nanum Myeongjo';
    --tertiary-font: 'helvetica';
}

header {
    background-color: var(--primary-color);
    padding: .5rem;
    font-size: 18px;
    font-weight: 500;
    font-family: 'helvetica';
    border-radius: 8px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header > h1 {
    font-size: 35px;
    font-family: var(--primary-font);
}

header > h2 {
    font-size: 25px;
    font-family: var(--secondary-font);
}

.color {
    display: flex;
    justify-content: flex-start;
}

.allcolor {
    margin-top: .5rem;
    margin-right: 2rem;
    width: 15%;
    height: 250px;
    text-align: center;
    padding: 1rem;
    display: inline-block;
    border-radius: 5px;
}

.name {
    font-weight: 300;
}

.color1 {
    background-color: var(--primary-color);
}

.color2 {
    background-color: var(--secondary-color);
}

.color3 {
    background-color: var(--tertiary-color);
}

.color4 {
    background-color: var(--fourth-color);
}

.typography {
    display: flex;
    flex-direction: column;
}

.typo1 {
    font-size: 40px;
    font-family: var(--primary-font);
    font-weight: 200;
}

.typo2 {
    font-size: 25px;
    font-family: var(--secondary-font);
}

.p {
    font-size: 15px;
    font-family: var(--tertiary-font);
}

.ImageButtonsWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn1 {
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 8px;
    color: white;
    box-shadow: 5px 5px 5px grey;
    margin-right: 1rem;
}

.btn1:hover {
    opacity: 0.6;
    cursor: pointer;
}

.btn1:active {
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}

.btn2 {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
    color: white;
    box-shadow: 5px 5px 5px grey;
    margin-right: 1rem;
}

.btn2:hover {
    opacity: 0.6;
    cursor: pointer;
}

.btn2:active {
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}

.images {
    width: 250px;
    height: 150px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

img {
    width: 250px;
    height: 150px;
    border-radius: 12px;
}

hr {
    background-color: #000;
    border-radius: 8px;
}

.link {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-decoration: none;
    font-size: 25px;
    color: #000;
}

.link:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}
